body{background-color:darkblue; color:#ffff00}
#clickerBox{font-size:20px; background-color:darkgreen; border:5px; border-radius: 20px; padding 50px; margin:50px;}
#IDInfoBox{background-color: darkred; border:20px; border-radius: 5px; padding 50px; margin:50px;}
